<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="TIME_PATTERN">%d{HH:mm:ss.SSS} %p %m%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${TIME_PATTERN}"/>
        </Console>

        <RollingFile name="appLog"
                    fileName="./application.log"
                    filePattern="./application-%d{yyy-MM-dd}-%i.log"
                    level="info">
        </RollingFile>

        <RollingFile name="audit"
                     fileName="./audit.log"
                     filePattern="./audit-%d{yyy-MM-dd}-%i.log"
                     level="info">
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="com.bootcamp.loteriaprimitiva" level="debug" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="com.bootcamp.loteriaprimitiva" level="info" additivity="false">
            <AppenderRef ref="appLog" />
        </Logger>
        <Logger name="com.bootcamp.loteriaprimitiva.services" level="info" additivity="false">
            <AppenderRef ref="audit" />
        </Logger>
    </Loggers>
</Configuration>